@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:opsz,wght@8..144,900&display=swap');
 
* {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
/* ------------------------------------------------------------------------ */
 /* page devsion */
.home{
    background-color: rgb(255, 255, 255);
    display: flex;
  
}  
.navbar1{
    width: 23vw;
    height: 100vh; 
    
    position: fixed;
    left: 68%; 
    font-weight: 700;
   
}
.container{
    width: 35vw;
    height: 300vh;   
    background-color: rgb(255, 255, 255);
    position: relative;
     left: 30%; 
     
     
} 

 /*--------------------------------------------------------------------------------------------------  */
 /* nav bar in the container */
 /* main div */
.containernav{
    width: 100%;
    height: 35vh;
    display: flex;
   flex-direction: column;
     position: relative; 
     
}
/* div inside main dive fixed div */
.contnavbar{  
     width: 35vw;
   height: 17vh;  
        background: rgba(255, 255, 255, 0.87)   ;     
   
   backdrop-filter: blur(5vw);
   -webkit-backdrop-filter: blur(5vw); 
   position: fixed; 
   top: 0;
   z-index: 200;
   font-family: Poppins ;
   border: 0.025rem solid #ecf0f3;
   display: flex;
   flex-direction: column;
  justify-content: space-evenly; 


}
/* div home */
.homecont{ 
    width: 100%;
    height: 7vh;
      
    position: relative;
     top: 3%;  
    color: #3a3b3c;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
   display: flex;
}
.homepara{
position: relative;
left: 3%;
top: -2%;
}
/* follwing and for  div  */
.f{                                  
    width: 100%;
    height: 7vh;
    position: relative;
    top: 18%; 
   display: flex;
   flex-direction: row;

} 
.Follwing{
    width: 51%;
    height: 7vh;
    text-align: center;
}
.for{
    width: 49%;
    height: 7vh;
    text-align: center;

     
}
/* parhraph(for you) */
.forpara{
    position: relative;
    color: black;
    font-weight: 600;
    bottom: 20%;
    font-size: 1rem;
   
}
/* follwing paragraph */
.folpara{
    position: relative;
    bottom: 20%;
    color:  #798690;
    font-weight: 600;
    font-size: 1rem;
}
/*---------- hover------------ */
.for:hover{
    background-color: #eff1f1;
}
.Follwing:hover{
    background-color: #eff1f1;
}
/* -------------------- */
 .line{
    border: 0.1rem solid #1DA1F2;
    width: 15%;
    position: relative;
       top: 7%;  
    right: 25%; 
    
}  
/* ------------------------------------ */
/* whats happning part */
.what{
    width: 35vw;
    height: 20vh; 
    background-color: #ffffff;
    position: relative;
    border: 0.025rem solid #dce2e6;
 top: 43%;
   display: flex;
  flex-direction: column; 
    
}
/* div of profile image */
.imgewhatdiv{
width: 100%;
height: 11vh;
display: flex;
flex-direction: row;
justify-content: space-between;

}
/* profile image */
.profileimge1{
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
     position: absolute;
    top: 10%;
    left: 3%; 
}

.whathappen{
     position: absolute;
    top: 16%;
    left: 16%; 
    width: 25vw;
    height: 7vh; 
  
}

#text{
    width: 25vw;
    height: 7vh;
   font-size: 1rem;
   font-family: Poppins ;
   font-weight: 500;
   border: 0.025rem transparent #ffffff;
   outline: none;
}

.iconandbutton{
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    position: relative;
    bottom: 3%;

}
/* icons in what happen div (main) */
.iconhapen{
    width: 35%;
    height: 5vh;
    position: relative;
   display: flex;
   left: 6vw;
   justify-content: space-around;
   flex-direction: row;
  top: 20%;
 

}
/* icon properties */
.conticonimge{
    width: 1.5vw;
    height: 3vh;
    position: absolute;
    left: 10%;
    top: 5%; 
}
.iconsnav:hover{
    background-color: #8ecdf8;
    border-radius: 50%;
}
.iconsnav{
    width: 2vw;
    height: 4vh;
 
   position: relative;

}

.divbutton{

height: 7vh;
width: 21%;
border-radius: 12vw;
position: relative;
right: 10%;
   
}
.tweetbut{
    border-radius: 12vw;
    width: 100%;
    height: 7vh;
    background-color: #8ecdf8;
    color: white;
    font-family: Poppins;
     border: 0.1rem solid white; 
    font-size: 1rem;
}
/* ---------------------------------------------------------------------- */
.clear{
    clear: both;
}
/* -------------------------------------------------------- */


/* ----------------------------------------------------------------------------- */
/* icon hover */
/* .sharhover:hover{
    background-color:#e4ecf4;
color: #209df4;
border-radius: 50%;
}
.likehover:hover{
    background-color: #f7e0eb;
    border-radius: 50%;
    color: #fc2f8d;
}
.retweethover:hover{
    background-color: #def1eb;
    border-radius: 50%;
    color: #15bf85;
}
.viewhover:hover{
    background-color:#e4ecf4;
    color: #1DA1F2;
    border-radius: 50%;
    

}

.commenthover:hover{
    background-color:#e4ecf4;
    border-radius: 50%;
    color: #209df4;
;
} */
/* ------------------------------------------------ */
/* paragraph of icon hover */
/* ------------------------------------------------------ */
/* .commentparahover:hover{
    color: #209df4;
    
}
.likeparahover:hover{
    color: #fc2f8d;
}
.retparahover:hover{
    color: #15bf85;
} */
/* ------------------------------------------------- */
.icons{
    width: 30%;
    height: 60%;
   
position: relative;
color: #798690;


}


.iconpara{
    position: absolute;
     left: 40%; 
    bottom: 50%;  
    font-size: 0.7rem;
    color: #798690;
  

}
/* hidden part */
/* ---------------------------------------- */
/* hidden main div */
.hidden{
     display: flex; 
     
    width: 90%;
   flex-direction: row;
    visibility: hidden;
 position: relative; 
height: 7vh;
}
/* profile image hidden */

.profileimgehide{
    width: 13vw;
    height: 7vh;
    border-radius: 50%;
     position: absolute;
     top: 2%; 
     left: -3%; 
    
}
/* icon hidden */
.iconhidetwit{
    width: 15vw;
    height: 7vh;
    border-radius: 50%;
     position: absolute;
     top: 2%; 
 left: 40%;

}
.hide{
    width: 30%;
   
 
}

.hiddennavbar{
    background-color: #ffffff;
    width: 35vw;
    height: 11vh;
    position: fixed; 
    bottom: 0.5%; 
    display: flex;
    flex-direction: row;
justify-content: space-between;
visibility: hidden;

}
.navhiddenicon{
    width: 15%;
    height: 10vh;
    position: relative;
}
.hideimgeicon{
    position: absolute;
    width: 6vw;
    height: 6vw;
    top: 30%;
    left: 10%;
}
/*********************************
**********************************
**********************************/
/* right side bar */
/*search  rigth side bar */ 
.search{     
    
    border-radius: 40px;
    margin-bottom: 5%;
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction:row ;
    flex-wrap: nowrap;
    align-items: center;
    
    background-color: #E1E8ED ;
}

/*search icon*/
.icon{
    padding-left:4% ;
    color:#AAB8C2;
}

/*search box*/
input{
width: 100%;
height: 100%;
border: none;
border-radius: 40px;
margin-left: 6%;
background-color: transparent ;
outline: none;
}









/**************************
**************************
**************************/
/* what's Happening division */               

/*whats happening container*/
.whatsHappening{
    border-radius: 15px;
    width: 100%;
    height: 50vh;
    background-color: #E1E8ED;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}


/*header & show more8*/
.more_whatsHappening,.header_whatsHappening{
    padding-left:10px ;
    height: 10%;
    display: flex;
    align-items:center ; 
}

/*header font*/
.header_whatsHappening {font-size: 1em; font-weight: 700;
font-family: Poppins;}


/*whats happening divisions*/
.div_whatsHappening{
    padding-left: 10px;
    height: 16%;
    display: flex;
    flex-direction: column;
    align-content: space-around ;
    margin-bottom: 3px;
    transition: 0;
}

/*fonts of trending & no. of tweets*/
.fonts_trendingtweets{
   font-weight: 100;
   font-size: small;
   color:#657786;
   text-transform: capitalize;
}
/*fonts of whats happening tittle*/
.fonts_whatsHappening{
   text-transform: capitalize;
   font-weight:  600; 
   font-size: small;
  
}



.div_whatsHappening a {text-decoration: none; color: black;}
.more_whatsHappening a{text-decoration: none; color:#1DA1F2;}












/***********
************
***********
***********
**************************
**************************
**************************
  who to follow division         */




/* who to follow container */
.whoToFollow{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width:100% ;
    height:35vh ;
    background-color: #E1E8ED;
}


/* who to follow header & show more */
.more_whoToFollow,.header_whoToFollow{
   padding-left:10px ;
   height: 14%;
   display: flex;
   align-items:center ;
}
.header_whoToFollow{font-size: 1.3em; font-weight: 700;}


/*accounts who to follow*/
.div_whoToFollow {
    display: flex;
    flex-direction: row;
    height: 24%;
    padding-left: 10px;
}

/*accounts images*/
.div_whoToFollow img{
    width:38.98PX ;
    height: 38.98PX;
    border-radius: 50%;
    align-self: center;
}

/*user name division contains name & neckname*/
.username{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 40%;
}

.name{font-weight: 600;}

.username a  {text-decoration: none; color: black;}
.more_whoToFollow a{text-decoration: none; color:#1DA1F2;}


/*follow button*/ 
.div_whoToFollow button{
    border-radius: 40px;
    width:25%;
    height: 55%;
    align-self: center;
    margin-left: 30px ;
    background-color: black;
    color: white;
}


/*****************************************
******************************************
******************************************/

/*hovers*/

.div_whatsHappening:hover
{    background-color:#cfd7dd }
.div_whoToFollow:hover
{    background-color:#cfd7dd }
.more_whatsHappening:hover
{    background-color:#cfd7dd }
.more_whoToFollow:hover
{    background-color:#cfd7dd }
/* ---------------------------------------------------------------------- */
/* media query for navbar container and right side bar */
@media (min-width:200px) and (max-width:700px) {
    .navbar1{
       display: none;
    }
    .navbar2{
        display: none;
    }
   .container{
   width: 100%;
   left: 0;
   }
    .contnavbar{
    width: 100%;
   
    top: 0;
height: 20vh;
    
   }  
   .what{
    display: none;
   }
   .f{
    width: 100%;
   }
   
   .what{
    display: none;
    
   }
  
   .hidden{
    visibility: visible;
   }
  .homepara{
    visibility: hidden;
  }
   .containernav{
    height: 20vh;
  
    
  } 
  .hiddennavbar{
    visibility: visible;
    width: 100%;
   
  }
  

}
/* ---------------------------------------------------------- */
@media(min-width:701px) and (max-width:950px) {
    .navbar1{
        display: none;

    }
    .container{
        width: 80%;
        left: 50%;
    }
    .navbar2{
        width:30%;
        bottom: 20%;
    }
    .what{
        width: 77vw;
        
    }
    .containernav{
        width: 77vw;
    }
    .contnavbar{
        width: 77vw;
    }
    
    .conticonimge{
height: 2vh;
width: 2vw;
    }
  
}
@media(min-width:950px) and (max-width:999px){
    .what{
        width: 77vw;
        
    }
    .containernav{
        width: 77vw;
    }
    .contnavbar{
        width: 77vw;
    }
    
    .conticonimge{
height: 2vh;
width: 2vw;
    }

}

